@font-face {
  font-family: "CustomFont";
  src: url(https://cdn.glitch.global/8395e39c-1bc5-4c88-85e3-39fe53c6e815/FA_FLPVZZYJYZ.ttf?v=1739557936898);
}

* {
  cursor: default !important;
}

::-webkit-scrollbar {
  width: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: red;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: black;
}

body {
  overflow: hidden;
  text-align: center;
  background: red;
  color: black;
  font-family: "CustomFont", sans-serif;
}

.star {
  position: absolute;
  width: 900px;
  height: auto;
  top: 3%;
  left: 1px;
}

.pin {
  position: absolute;
  width: 80px;
  height: 150px;
}

#star1 {
  left: 5%;
  display: block;
  opacity: 1; 
}

#pin1 {
  left: 26%;
  display: block;
  z-index: 9999999;
  top: 40%;
  width: 10%;
  height: auto;
  opacity: 1; 
}

#clickHere {
  position: absolute;
  top: -55%; 
  left: 200px; 
  display: block;
  z-index: 99999; 
}

#glowOval {
  position: absolute;
  top: 30%;  
  left: 60%;
  width: 300px;  
  height: 450px;  
  background: black;  
  border-radius: 70%; 
  opacity: 0; 
  transition: opacity 1s ease-in-out; 
  box-shadow: 0 0 50px 20px rgba(0, 0, 0, 0.8); 
}

#star2 {
  left: 43%;
  display: block;
  opacity: 0; 
  transition: opacity 1s ease-in-out; 
}

#pin2 {
  right: 26%;
  display: block;
  opacity: 0; 
  z-index: 9999999;
  top: 40%;
  width: 10%;
  height: auto;
  transition: opacity 1s ease-in-out; 
}

#bottomText {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0; 
  font-size: 50px;
  color: black;
  transition: opacity 1s ease-in-out; 
  font-family: sans-serif;
  font-weight: heavy;
  -webkit-text-stroke: 2px black;
}

#topText {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0; 
  font-size: 50px;
  color: black;
  transition: opacity 1s ease-in-out; 
  font-family: sans-serif;
  font-weight: heavy;
  -webkit-text-stroke: 2px black;
}


