@font-face {
  font-family: "CustomFont";
  src: url(https://cdn.glitch.global/8395e39c-1bc5-4c88-85e3-39fe53c6e815/FA_FLPVZZYJYZ.ttf?v=1739557936898);
}

* {
  cursor: default !important;
}

::-webkit-scrollbar {
  width: 0.52vw; /* 10px */
  border-radius: 0.52vw;
}

::-webkit-scrollbar-track {
  background: red;
  border-radius: 0.52vw;
}

::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 0.52vw;
}

::-webkit-scrollbar-thumb:hover {
  background: black;
}

body {
  overflow: hidden;
  text-align: center;
  font-size: 0.78vw;      /* 15px */
  line-height: 4.17vw;    /* 80px */
  background: red;
  color: black;
  font-family: "CustomFont", sans-serif;
}

h1 {
  font-size: 15.63vw;        /* 300px */
  position: relative;
  top: 2.08vw;               /* 40px */
  letter-spacing: -5.21vw;  /* -100px */
  white-space: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
}

h2 {
  font-family: sans-serif;
  margin-top: 24.48vw;       /* 470px */
  letter-spacing: 0.16vw;    /* 3px */
  white-space: nowrap;
  align-items: center;
  justify-content: center;
  display: flex;
}

#Pin_closed {
  width: 10.42vw;            /* 200px */
  height: auto;
  top: -22.66vw;             /* -435px */
  position: relative;
}

.select {
  transition: 2s;
}

.select:hover {
  filter: blur(5px);
}
